## Data anlaysis task

In [242]:
import pandas as pd

In [243]:
import re

In [244]:
df_admin = pd.read_excel('NZ_Admin_JOBS.xlsx', header= None)

### 1.1 Filling missing value

In [245]:
df_admin.isna().sum()

0     0
1     0
2    22
3     0
4     0
5     0
dtype: int64

In [246]:
df_admin.fillna('unknown', inplace = True)

### 1.2  drop duplicate rows

In [247]:
df_admin.drop_duplicates(inplace = True)

### 2.  split column 3 into location and area

In [248]:
df_admin[['location','area']] = df_admin[3].str.split('area:', expand = True)

In [249]:
df_admin.drop(3, axis = 1, inplace = True)

#### fillna for the area column

In [250]:
df_admin.isna().sum()

0             0
1             0
2             0
4             0
5             0
location      0
area        541
dtype: int64

In [251]:
df_admin['area'].fillna('unknown', inplace = True)

#### modify location column -- get rid of 'location:'

In [252]:
def apply_location(x):
    return x[9:]

In [253]:
df_admin['location'] = df_admin['location'].apply(apply_location)

#### modify location -- get rid of repeated text

In [254]:
def apply_repeated(x):
    middle = len(x)//2
    if x != 'unknown':
        return x[:middle + 1]
    else:
        return 'unknown'

In [255]:
df_admin['location'] = df_admin['location'].apply(apply_repeated)

#### clean the area column (get rid of unrelated information)

In [256]:
df_admin['area'] = df_admin['area'].str.split(',', expand = True)[0]

In [257]:
df_admin['area'] = df_admin['area'].apply(apply_repeated)

### 3. split column 5 into classification/Classification

In [258]:
df_admin[['classification','Classification']] = df_admin[5].str.split('Classification:', expand = True)

In [259]:
df_admin.drop(5, axis = 1, inplace = True)

#### modify the classification column to get rid of "classification:"

In [260]:
def apply_class(x, index):
    if '$' not in x:
        return x[index:]
    else:
        return x

In [261]:
#df_admin['classification'] = df_admin['classification'].apply(apply_class, args = (15,))

#### fillna for the column "Classification"

In [262]:
df_admin.isna().sum()

0                   0
1                   0
2                   0
4                   0
location            0
area                0
classification      0
Classification    603
dtype: int64

In [ ]:
df_admin['Classification'].fillna('unknown', inplace = True)

#### modify the coloumn Classification - get rid of repeated text

In [271]:
df_admin['Classification'] = df_admin['Classification'].apply(apply_repeated)

### 4. split column 4 into posted time and featured at

In [264]:
df_admin[['posted time','featured at']] = df_admin[4].str.split(',', expand = True)[[0,2]]

In [266]:
df_admin.drop(4, axis = 1, inplace = True)

#### fillna for featured at

In [269]:
df_admin['featured at'].fillna('unknown', inplace = True)

### 5. create a new column "salary"

In [273]:
def apply_salary(x):
    if 'classification:' in x:
        return 'unknown'
    else:
        return x

In [277]:
df_admin['salary'] = df_admin['classification'].apply(apply_salary)

### 6. get rid of unrelated information in the classification content

In [287]:
def apply_classification(x):
    if 'classification:' in x:
        return x[15:]
    else:
        return 'unknown'

In [290]:
df_admin['classification'] = df_admin['classification'].apply(apply_classification)

In [295]:
df_admin.rename(columns={0:'Job Title', 1:'from website', 2:'company name'})

,Job Title,from website,company name,location,area,classification,Classification,posted time,featured at,salary
0,Administrator,https://www.seek.co.nz/job/50582301?type=promo...,unknown,Bay of Plenty,Tauranga,Administration & Office SupportAdministration...,Office Management,Featured,Private Advertiser,unknown
1,Receptionist,https://www.seek.co.nz/job/50620889?type=promo...,Avenues Orthodontics,Bay of Plenty,Tauranga,Administration & Office SupportAdministration...,Receptionists,Featured,unknown,unknown
2,Prosecutions Support Officer,https://www.seek.co.nz/job/50622169?type=stand...,New Zealand Police,Auckland,unknown,Administration & Office SupportAdministration...,Other,4d ago,unknown,unknown
3,Early Childhood Centre Administrator,https://www.seek.co.nz/job/50639620?type=stand...,Kew Pacific Island Early Learning Centre,Southland,Invercargill,Administration & Office SupportAdministration...,Administrative Assistants,1h ago,unknown,unknown
4,Business Support Administrator,https://www.seek.co.nz/job/50622432?type=stand...,unknown,Canterbury,Christchurch,Administration & Office SupportAdministration...,Client & Sales Administration,4d ago,Private Advertiser,unknown
...,...,...,...,...,...,...,...,...,...,...
2703,Key Account Manager,https://www.seek.co.nz/job/50490062?type=stand...,Hays Talent Solutions,Auckland,Auckland Central,Administration & Office SupportAdministration...,Client & Sales Administration,27d ago,unknown,unknown
2704,Executive Assistant,https://www.seek.co.nz/job/50488000?type=stand...,one eighty recruitment,Wellington,Wellington Central,unknown,unknown,27d ago,unknown,Competitive hourly rate
2705,Temporary Office Roles,https://www.seek.co.nz/job/50524865?type=stand...,Asset Recruitment Ltd,Waikato,Hamilton,unknown,unknown,20d ago,unknown,Competitive hourly rates $$
2706,Temporary Office Roles,https://www.seek.co.nz/job/50477118?type=stand...,Asset Recruitment Ltd,Waikato,Hamilton,unknown,unknown,28d ago,unknown,Competitive hourly rates $$
2707,Executive Assistant,https://www.seek.co.nz/job/50496571?type=stand...,Alpha Recruitment - NZ,Wellington,unknown,Administration & Office SupportAdministration...,"PA, EA & Secretarial",26d ago,unknown,unknown